.product-card-list {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 12.25rem;
    height: 16.125rem;
    padding: 0.625rem;
    gap: 0.625rem;
    background-color: $purple;
    border: 3px solid #000000;
    box-shadow: -5px 6px 3.3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

span {
    font-family: $paragraph;
    color: #fff;
    font-size: 0.9375rem;
}

div span {
    font-size: 1rem;
}

.product-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
